body {
    margin: 0;
    background: #03a9f4;    
}

header {
    background: #03a9f4;
    text-align: center
}

.logo {
    color: #fff;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 900;
}

header input {
    font-size: 20px;
    margin: 20px 0
}